# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.gitignore
.idea/uiDesigner.xml
.idea/workspace.xml
lib/cmu_time_awb.jar
lib/cmu_us_kal.jar
lib/cmudict04.jar
lib/cmulex.jar
lib/cmutimelex.jar
lib/commons-logging-1.2.jar
lib/en_us.jar
lib/fontbox-2.0.7.jar
lib/freetts-jsapi10.jar
lib/freetts.jar
lib/jsapi.jar
lib/mbrola.jar
lib/pdfbox-2.0.7.jar
lib/pdfbox-tools-2.0.7.jar
lib/sqlite-jdbc-3.20.0.jar
target/
